*{
    font-family: "Josefin Sans", sans-serif;
}
body{
    background-color: aliceblue;
}
.main{
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
}

h1 {
    letter-spacing: 60px;
    font-size: 26px;
    margin-left: 50px;
}

h2 {
    letter-spacing: 5px;
    margin: auto;
    font-size: 18px;
}

h3 {
    font-weight: 450;
    letter-spacing: 5px;
    margin: auto;
    font-size: 16px;
}

img {
    margin-top: 30px;
}

.about {
    background-color: rgb(186, 206, 245);
    font-size: 18px;
    width:690px;
    padding: 10px;
    text-align: center;
}

.quiz-try{
    margin-top: 30px;
    background-color: rgb(154, 185, 231);
    padding: 40px;
}

.container-quiz-try{
    display: flex;
    justify-content: center;
}

.about-quiz {
    margin-top: 30px;
    width:300px;
    font-size: 18px;
    background-color: rgb(192, 204, 246);
    padding: 30px;
    border-radius: 50%;
    text-align: center;
}

.textQuizAbout{
    font-size:20px;
    margin-top: 50px;
    text-decoration: underline;
}

.btn-quiz{
    padding: 10px;
    width: 150px;
    border-radius: 40px;
    background-color: rgb(177, 203, 255);
    text-align: center;
    text-decoration: none;
    color:black;
    border: 1px solid black;
}
.btn-quiz:hover{
    color:white;
    background-color: rgb(79, 117, 174);
}
.attraction-section , .stories-section , .food-and-drink-section {
    margin-top: 50px;
}

h4 {
    letter-spacing: 5px;
    font-size: 18px;
}

.attraction-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.attraction-section-variant{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
}

.price-address-line{
    border-top: 1px solid rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
}

.title{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 30px;
}

.typeofattraction-name{
    font-size: 12px;
    color:rgb(68, 68, 68);
}

.description-attraction , .description-food{
    font-weight: 350;
    font-size: 16px;
}

.btn-add{
    padding: 10px;
    border-radius: 30px;
}
.price-address{
    display: flex;
    justify-content: space-between;
}

.displayStory{
    background-color: rgb(167, 203, 230);
    display: flex;
    flex-direction: column;
    padding:20px;
    width:700px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(95, 119, 167);
    border-radius: 20px;
}

.factStory{
    background-color: rgb(233, 244, 255);
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
}


.titleStory{
    background-color: rgb(233, 244, 255);
    padding: 20px;
    border-radius: 30px;
}

.buttonStory{
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    background-color: rgb(171, 200, 241);
    border: 1px solid rgb(95, 119, 167);
    border-radius: 30px;
}

.buttonStoryPrev{
    margin-right: 10px;
}

.buttonStoryNext{
    margin-left: 10px;
}

.storyCont{
margin-top: 50px;
}

.seeMorebtn{
    margin-top: 30px;
}