*{
    font-family: "Josefin Sans", sans-serif;
}

.main{
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
}

h1 {
    letter-spacing: 60px;
    font-size: 26px;
    margin-left: 50px;
}

h2 {
    letter-spacing: 5px;
    margin: auto;
    font-size: 18px;
}

h3 {
    font-weight: 450;
    letter-spacing: 5px;
    margin: auto;
    font-size: 16px;
}

img {
    margin-top: 30px;
}

.about {
    background-color: beige;
    font-size: 18px;
    width:690px;
    padding: 10px;
    text-align: center;
}

.quiz-try{
    margin-top: 30px;
    background-color: bisque;
    padding: 40px;
}

.container-quiz-try{
    display: flex;
    justify-content: center;
}

.about-quiz {
    margin-top: 30px;
    width:300px;
    font-size: 18px;
    background-color: rgb(181, 153, 112);
    padding: 30px;
    border-radius: 50%;
}
.btn-quiz{
    padding: 10px;
    width: 150px;
    border-radius: 40px;
    background-color: bisque;
    text-align: center;
    text-decoration: none;
    color:black;
    border: 1px solid black;
}

.attraction-section , .stories-section , .food-and-drink-section {
    margin-top: 50px;
}

h4 {
    letter-spacing: 5px;
    font-size: 18px;
}

.attraction-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}


.attarction-section-variamt{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 30px;
}

.typeofattraction-name{
    font-size: 12px;
    color:rgb(68, 68, 68);
}

.description-attraction{
    font-weight: 350;
    font-size: 16px;
}

.btn-add{
    padding: 10px;
    border-radius: 30px;
}
.price-address{
    display: flex;
    justify-content: space-between;
}

.displayStory{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding:20px;
    width:700px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}



.titleStory{
    background-color: azure;
}

.buttonStory{
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid black;
}

.buttonStoryPrev{
    margin-right: 10px;
}

.buttonStoryNext{
    margin-left: 10px;
}

.readBtn{
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 50px;
    text-decoration: none;
    border: 1px solid black;
    color: black;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 2px;
}

.readBtn:hover{
    background-color: rgb(134, 115, 82);
}
.storyCont{
margin-top: 50px;
}

.seeMorebtn{
    margin-top: 30px;
}